*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabeçalho{
    background-color: rgb(194, 139, 245);
    align-items: center;
    justify-content: space-between;
    background-size: 100%;
    height: 115px;
    padding: 0px 100px;
    color: rgb(0, 0, 0);
    gap: 10px;
    flex-direction: row;
}

.cabeçalho{
    display: flex;
    gap: 10px;

}

.items{
    color: aliceblue;
    text-decoration: none;
    transition: all 0.3 ease;
    justify-content: center;
    align-items: center;



}
li{
    list-style: none;
}

.logo{
    height: 100px;
    width: 100px;
}